* {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: 'IBM Plex Serif', serif;
  font-size: 14px;
  background-color: #efefef;
}

.container {
  max-width: 750px;
  margin: auto;
  padding: 10px;
  width: 100%;
}

/*
* Wishes (my plan)
*/
.wish-container-back {
  margin: 0;
  padding: 10px;
  background-color: #efefef;
}

.wish-container {
  padding: 10px 30px;
  border-radius: 6px;
  margin-bottom: 3%;
  background-color: #fff;
  border: 3px dashed #ff6400
}

.wishes-header {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400;
}

.wishes {
  padding: 0;
}

.wish {
  list-style-type: none;
  font-weight: 600;
  margin: 10px;
}

.talk-pick {
  font-size: 1em;
  margin-left: 10px;
  font-weight: 400;
}

.fixed-pos {
  position: fixed;
  width: 90%;
  top: 0.1px;
  -webkit-box-shadow: 0px 6px 8px 0px rgba(220,220,220,0.5);
  transition: all 0.5s ease-in-out;
}

.push-down {
  margin-top: 220px;
}

/*
* Program
*/
.program {
  width: 100%;
  border-radius: 6px;
}

thead {
  display: none;
}

tbody{
  vertical-align: top;
}

.location {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}

.col,
.row {
  padding: 10px;
  display: block;
}

.row {
  display: block;
  width: 100%;
}

.talk {
  cursor: pointer;
  border: 2px solid #ff6400;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #fff;
}

.talk:hover {
  background-color: #ffe0cc;
}

.talk-selected {
  background-color: #ffa266;
}

.time {
  font-weight: 600;
  font-size: 1.5em;
}

.talk-name {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 2px;
  margin-top: 0;
}

/*
* Responsive
*/
@media screen and (min-width: 683px) {
  .row {
    display: table-row;
    border: 2px solid #ff6400;
  }

  .col {
    display: table-cell;
  }

  .talk {
    max-width: 120px;
    padding: 10px;
  }

  .time {
    font-size: 1em;
    font-weight: 400;
  }

  thead {
    display: table-header-group;
  }

  .location {
    border: 2px solid #ff6400;
  }

  .program {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
  }

  .wish-container-back {
    padding: 0;
  }
}
